<app-adminnavbar></app-adminnavbar>
<div>
  <img src="../../../../assets/images/adminbook.jpeg" class="d-block w-100 book" alt="book img">
</div>
<div class="container">
  <br>
  <h3 class="text-center color">Welcome To BookStore</h3>
  <br><br>
  <div class="row">
    <div class="col-lg-2"></div>
    <div class="col-lg-8">
      <div class="card-deck">
        <div class="card">
          <img src="../../../../assets/images/category1.png" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Manage Category</h5>
            <p class="card-text">Add, Edit, Delete Category</p>
          </div>
          <div class="card-footer">
            <small class="text-muted float-right"><button class="btn btn-sm color" routerLink="/Admincategory">Click here  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right" viewBox="0 0 16 16">
              <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z"/>
            </svg></button></small>
          </div>
        </div>
        <div class="card">
          <img src="../../../../assets/images/book1.png" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Manage Books</h5>
            <p class="card-text">Add, Edit, Delete Book</p>
          </div>
          <div class="card-footer">
            <small class="text-muted float-right"><button class="btn btn-sm color" routerLink="/Adminbook">Click here  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right" viewBox="0 0 16 16">
              <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z"/>
            </svg></button></small>
          </div>
        </div>
        <div class="card">
          <img src="../../../../assets/images/user1.png" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Manage User</h5>
            <p class="card-text">Activate or Deactivate User</p>
          </div>
          <div class="card-footer">
            <small class="text-muted float-right"><button class="btn btn-sm color" routerLink="/Adminuser">Click here  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right" viewBox="0 0 16 16">
              <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z"/>
            </svg></button></small>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-2"></div>
  </div>
  <br><br>
  <div class="row">
    <div class="col-lg-3"></div>
    <div class="col-lg-6">
      <div class="card-deck">
        <div class="card">
          <img src="../../../../assets/images/order1.webp" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">View Orders</h5>
            <p class="card-text">View all orders</p>
          </div>
          <div class="card-footer">
            <small class="text-muted float-right"><button class="btn btn-sm color" routerLink="/Adminorder">Click here  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right" viewBox="0 0 16 16">
              <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z"/>
            </svg></button></small>
          </div>
        </div>
        <div class="card">
          <img src="../../../../assets/images/coupon1.png" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Add Coupon</h5>
            <p class="card-text">Add new Coupons for users</p>
          </div>
          <div class="card-footer">
            <small class="text-muted float-right"><button class="btn btn-sm color" routerLink="/Admincoupon">Click here  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right" viewBox="0 0 16 16">
              <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z"/>
            </svg></button></small>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-3"></div>
  </div>
  <br><br>
</div>