<app-adminnavbar></app-adminnavbar>

<div>
  <br>
  <div class="container">
    <h3 class="text-center color">Coupons</h3>
    <button class="btn btn-primary float-right" routerLink="/Adminviewcoupon">
      View Coupons
    </button>
    <div class="row">
      <div class="col-lg-3"></div>
      <div class="col-lg-8 shadow-lg p-3 mb-5 bg-white wrapper border border-warning">
        <img src="../../../../assets/images/coupon2.jpg" alt="" width="50%" height="100%" class="float-right">
        <div class="coupon">
          <h5 class="text-center color">Add Coupon</h5><br>
          <form [formGroup]="couponForm" (submit)="onFormSubmit()">
            <div class="form-group">
              <label for="CouponCode">Enter Coupon Code</label>
              <input type="text" class="form-control" id="couponcode" formControlName="CouponCode">
            </div>
            <div class="form-group">
              <label for="UserId">Select User</label>
              <select id="user" class="form-control" formControlName="UserId">
                <option *ngFor="let user of users" value="{{user.UserId}}">{{user.UserId}}-{{user.Name}}</option>
              </select>
            </div>
            <div class="form-group">
              <label for="amount">Discount Amount</label>
              <input type="number" class="form-control" id="amount" formControlName="DiscountAmount">
            </div>
            <button type="submit" class="btn btn-primary" >Add coupon</button>
          </form>
        </div>
        <div class="col-lg-2"></div>
      </div>
    </div>
  </div>
</div>