<app-navbar></app-navbar>

<div class="container">
    <br>
    <h3 class="text-center usercolor">Profile</h3>
    <br>
    <div class="row">
        <div class="col-lg-3 shadow-lg p-3 mb-5 bg-white rounded" style="height:325px ;">
            <img src="../../../../assets/images/profile.jpg" alt="" width="100%" height="150px"><br><br>
            <p><svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="purple" class="bi bi-person-circle"
                    viewBox="0 0 16 16">
                    <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z" />
                    <path fill-rule="evenodd"
                        d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z" />
                </svg> {{user.Name}}</p>
            <p><svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="purple" class="bi bi-telephone-fill"
                    viewBox="0 0 16 16">
                    <path fill-rule="evenodd"
                        d="M1.885.511a1.745 1.745 0 0 1 2.61.163L6.29 2.98c.329.423.445.974.315 1.494l-.547 2.19a.678.678 0 0 0 .178.643l2.457 2.457a.678.678 0 0 0 .644.178l2.189-.547a1.745 1.745 0 0 1 1.494.315l2.306 1.794c.829.645.905 1.87.163 2.611l-1.034 1.034c-.74.74-1.846 1.065-2.877.702a18.634 18.634 0 0 1-7.01-4.42 18.634 18.634 0 0 1-4.42-7.009c-.362-1.03-.037-2.137.703-2.877L1.885.511z" />
                </svg> {{user.PhoneNo}}</p>
            <p><svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="purple" class="bi bi-envelope-fill"
                    viewBox="0 0 16 16">
                    <path
                        d="M.05 3.555A2 2 0 0 1 2 2h12a2 2 0 0 1 1.95 1.555L8 8.414.05 3.555ZM0 4.697v7.104l5.803-3.558L0 4.697ZM6.761 8.83l-6.57 4.027A2 2 0 0 0 2 14h12a2 2 0 0 0 1.808-1.144l-6.57-4.027L8 9.586l-1.239-.757Zm3.436-.586L16 11.801V4.697l-5.803 3.546Z" />
                </svg> {{user.Email}}</p>
        </div>
        <div class="col-lg-1"></div>
        <div class="col-lg-7">
            <form [formGroup]="UpdateForm" (submit)="handleUpdate()">
                <div class="form-group">
                    <label for="name">Name</label>
                    <input type="text" class="form-control" formControlName="Name" [class.is-invalid]="Name?.invalid && Name?.touched">
                    <div *ngIf="Name?.errors && Name?.touched">
                        <small class="text-danger" *ngIf="Name?.errors?.['required']">Name is required</small>
                        <small class="text-danger" *ngIf="Name?.errors?.['minlength']">Name is not valid</small>
                    </div>
                </div>
                    <div class="form-group">
                        <label for="email">Email</label>
                        <input type="email" class="form-control" formControlName="Email" [class.is-invalid]="Email?.invalid && Email?.touched">
                        <div *ngIf="Email?.errors && Email?.touched">
                            <small class="text-danger" *ngIf="Email?.errors?.['required']">Email is required</small>
                            <small class="text-danger" *ngIf="Email?.errors?.['email']">Email is not valid</small>
                        </div>
                    </div>
                    <div class="form-group">
                      <label for="Phone">Phone Number</label>
                      <input type="number" class="form-control" formControlName="PhoneNo" [class.is-invalid]="PhoneNo?.invalid && PhoneNo?.touched">
                      <div *ngIf="PhoneNo?.errors && PhoneNo?.touched">
                          <small class="text-danger" *ngIf="PhoneNo?.errors?.['required']">Phone is required</small>
                          <small class="text-danger" *ngIf="PhoneNo?.errors?.['pattern']">Please, Enter 10 digit Mobile Number.</small>
                      </div>
                  </div>
                <button type="submit" class="btn btn-primary" [disabled]="UpdateForm.invalid">Update</button>
            </form>
            <br><br>
            <div>
                <button class="btn btn-primary float-right" fragment="addaddress"
                    (click)="navigateToSection('addaddress',0)">Add <svg xmlns="http://www.w3.org/2000/svg" width="20"
                        height="20" fill="currentColor" class="bi bi-plus-circle" viewBox="0 0 16 16">
                        <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z" />
                        <path
                            d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z" />
                    </svg></button>
                <h5>Shipping Address</h5><br><br>
                <ul class="list-group">
                    <li class="list-group-item" *ngFor="let address of addresses">
                        <button class="btn float-right" fragment="editaddress"
                            (click)="navigateToSection('editaddress',address.AddressId)"><svg xmlns="http://www.w3.org/2000/svg"
                                width="20" height="20" fill="currentColor" class="bi bi-pencil-fill"
                                viewBox="0 0 16 16">
                                <path
                                    d="M12.854.146a.5.5 0 0 0-.707 0L10.5 1.793 14.207 5.5l1.647-1.646a.5.5 0 0 0 0-.708l-3-3zm.646 6.061L9.793 2.5 3.293 9H3.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.207l6.5-6.5zm-7.468 7.468A.5.5 0 0 1 6 13.5V13h-.5a.5.5 0 0 1-.5-.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.5-.5V10h-.5a.499.499 0 0 1-.175-.032l-.179.178a.5.5 0 0 0-.11.168l-2 5a.5.5 0 0 0 .65.65l5-2a.5.5 0 0 0 .168-.11l.178-.178z" />
                            </svg></button>
                        {{address.HouseNo}},<br>{{address.City}},{{address.State}},<br>{{address.Country}},{{address.Pincode}}
                    </li>
                </ul>
            </div>
            <br><br>
        </div>
    </div>
</div>



<!-- ======popup add=========== -->


<div id="addaddress" class="overlay">
    <div class="popup">
        <h2>Add Address</h2>
        <a class="close" (click)="navigateToSection('',0)">&times;</a>
        <div class="content">
            <form [formGroup]="AddressForm" (submit)="onFormAdd()">
                <div class="form-group">
                    <label for="House">House No.</label>
                    <input type="text" class="form-control" id="House" formControlName="HouseNo">
                </div>
                <div class="row">
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label for="City">City</label>
                            <input type="text" class="form-control" id="City" formControlName="City">
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label for="State">State</label>
                            <input type="text" class="form-control" id="State" formControlName="State">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label for="Country">Country</label>
                            <input type="text" class="form-control" id="Country" formControlName="Country">
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label for="Pincode">Pincode</label>
                            <input type="number" class="form-control" id="Pincode" formControlName="Pincode">
                        </div>
                    </div>
                </div>
                <div class="d-flex justify-content-end">
                    <button type="submit" class="btn btn-primary mr-sm-2">Save</button>
                    <button (click)="navigateToSection('',0)" class="btn btn-secondary my-2 my-sm-0">Close</button>
                </div>
            </form>
        </div>
    </div>
</div>


<!-- ============edit================ -->
<div id="editaddress" class="overlay">
    <div class="popup">
        <h2>Edit Address</h2>
        <a class="close" (click)="navigateToSection('',0)">&times;</a>
        <div class="content">
            <form [formGroup]="AddressForm" (submit)="onFormEdit(addId)">
                <div class="form-group">
                    <label for="House">House No.</label>
                    <input type="text" class="form-control" id="House" formControlName="HouseNo">
                </div>
                <div class="row">
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label for="City">City</label>
                            <input type="text" class="form-control" id="City" formControlName="City">
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label for="State">State</label>
                            <input type="text" class="form-control" id="State" formControlName="State">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label for="Country">Country</label>
                            <input type="text" class="form-control" id="Country" formControlName="Country">
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label for="Pincode">Pincode</label>
                            <input type="number" class="form-control" id="Pincode" formControlName="Pincode">
                        </div>
                    </div>
                </div>
                <div class="d-flex justify-content-end">
                    <button type="submit" class="btn btn-primary mr-sm-2">Save</button>
                    <button (click)="navigateToSection('',0)" class="btn btn-secondary my-2 my-sm-0">Close</button>
                </div>
            </form>
        </div>
    </div>
</div>