.wrapper{
    margin: 0px 30px;
}

li{
    cursor: pointer;
}
.lihover:hover{
    color: white;
    background-color: orange;
}

img{
    width:50px;
    height:70px;
}

.btnheight{
    height: 50px;
    width: 20px;
}

/* popover */

.overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    transition: opacity 500ms;
    visibility: hidden;
    opacity: 0;
    overflow-y: scroll;
  }
  .overlay:target {
    visibility: visible;
    opacity: 1;
  }
  
  .popup {
    margin: 70px auto;
    padding: 30px 40px;
    background: #fff;
    border-radius: 5px;
    width: 50%;
    position: relative;
    transition: all 5s ease-in-out;
    box-sizing: border-box;
  }
  
  .popup h2 {
    margin-top: 0;
    margin-bottom: 10px;
  }
  .popup .close {
    position: absolute;
    top: 20px;
    right: 30px;
    transition: all 200ms;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: #333;
  }
  .popup .close:hover {
    color: rgb(255, 128, 0);
    cursor: pointer;
  }
  .popup .content {
    max-height: 30%;
    overflow: hidden;

  }
  
  @media screen and (max-width: 700px){
    .box{
      width: 70%;
    }
    .popup{
      width: 70%;
    }
  }